<!DOCTYPE html>
<html lang="en">
 <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}Autopoets{% endblock %}</title>
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    {% block stylesheets %}
         <link rel="stylesheet" href="{{asset('css/bootstrap.min.css') }}">
         <link rel="stylesheet" href="{{asset('css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/nivo-slider.css') }}" media="screen">

    {% endblock %}
</head>
<body>
<!-- Header -->
<div class="bg-1">
    <header>
        <div class="header_bg1">
            <div class="header_bg2">
                <h1><a href="#">Errit Sjoerd</a></h1>
                <h2>Autopoets</h2>
                <div class="main">
                    <nav>
                            <ul class="menu">
                                <li><a href="{{ path('news_homepage') }}" class="active">Home</a></li>
                                <li><a href="#">Over Mij</a></li>
                                <li><a href="#">Agenda</a></li>
                                <li class="fright"><a href="#">Contact</a></li>
                                <li class="fright"><a href="#">Producten</a></li>
                                <li class="fright un_border"><a href="#">Galerij</a></li>
                            </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </header>
</div>
<!-- Slider -->
<div id="my_slider">
    
    <div id="slider-wrapper">        
            <div id="slider" class="nivoSlider">
                <img src="{{ asset('images/slider1.jpg') }}">
                <img src="{{ asset('images/slider2.jpg') }}">
                <img src="{{ asset('images/slider3.jpg') }}">
            </div>        
        </div>

    

</div>
    {% block body %}{% endblock %}
        

<!-- Footer -->
<footer>
    <div class="container_12">
        <div class="wrapper">
            <article class="grid_6">
                <span class="reg-2">Errit Sjoerd</span> &copy; {{ 'now'|date('Y') }}  | <a href="#">Privacy Policy</a><br />
                <!-- Do not remove -->Design by <a href="http://www.metamorphozis.com/" title="Website Templates">Website Templates</a><!-- end -->
            </article>
            <article class="grid_6">
                <div class="wrapper">
                    <ul class="soc_list">
                        <li><a href="https://www.facebook.com/perloplast" target="_blank"><img src="{{ asset('images/f1.png') }}"></a></li>
                        <!--
                        <li><a href="#"><img src="/images/f2.png" alt=""></a></li>
                        <li><a href="#"><img src="/images/f3.png" alt=""></a></li>
                        --> 
                    </ul>
                </div>
            </article>
        </div>
    </div>
</footer>
{% block javascripts %}
    <script src="{{ asset('js/jquery-1.11.3.min.js')}}"></script>
    <script src="{{ asset('js/jquery.nivo.slider.pack.js')}}"></script>
    <script src="{{ asset('js/app.js')}}"></script>
    <script src="{{ asset('js/bootstrap.min.js')}}"></script>
 

{% endblock %}
</body>
</html>
