{% extends '::base.html.twig' %}

{% block body -%}
        <!-- Content -->
<section id="content">
    <div class="container_12">
        <div class="">
            <article class="grid_9">
                <h1>Recente berichten</h1>
                {% for entity in entities %}
                    <div class="wrapper margin-bot2">
                        <time class="time fleft" n>{{entity.createdat|date('j')}}<br>{{ entity.createdat|date('M')}}</time>
                        <div class="extra-wrap indent">
                            <a href="{{ path('news_show', { 'id': entity.id }) }}" class="reg-2">{{ entity.title }}</a>
                            <div class="wrapper">
                                <div class="fleft">gepost door admin</div>
                            </div>
                        </div>
                    </div>
                    <div class="border-3">
                        <figure class="figure-2 img-indent">
                            <img src="{{ asset(entity.image)}}" alt="">
                        </figure>
                        <div>
                            <a href="#" class="reg-2">5e!</a>
                            <p>{{ entity.message|nl2br }}</p>
                            <a href="{{ path('news_show', { 'id': entity.id }) }}" class="reg-2">lees verder</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                {% endfor %}
                
                    <div class="clear"></div>
                </div>
            </article>
            <article class="grid_3">
            <!--
                <h1>Categorie</h1>
                <ul class="list-1 margin-bot">
                    <li><a href="#">Aenean nonummy </a></li>
                    <li><a href="#">hendrerit mauris</a></li>
                    <li><a href="#">Phasellus </a></li>
                    <li><a href="#">porta Fusce suscipit</a></li>
                    <li><a href="#">varius mi Cum sociis</a></li>
                    <li><a href="#">natoque penatibus </a></li>
                    <li><a href="#">magnis dis parent</a></li>
                    <li><a href="#">montes nascetur</a></li>
                    <li><a href="#">ridiculus mus Nulla</a></li>
                    <li><a href="#">dui Fusce feugiat</a></li>
                </ul>
                -->
                <h1>Archief</h1>
                <ul class="list-1 margin-bot">
                    <li><a href="#">july 2012</a></li>
                    <li><a href="#">june 2012</a></li>
                    <li><a href="#">may 2012</a></li>
                    <li><a href="#">april 2012</a></li>
                    <li><a href="#">march 2012</a></li>
                    <li><a href="#">february 2012</a></li>
                    <li><a href="#">january 2012</a></li>
                </ul>
            </article>
            <div class="clear"></div>
        </div>
    </div>
</section>

    {% endblock %}
