{% extends '::base.html.twig' %}

{% block body -%}

        <!-- Content -->
<section id="content">
    <div class="container_12">
    <h1>News creation</h1>

    {{ form_start(form, {'attr': { 'class': 'form-horizontal', 'role': 'form'}}) }}
    	{{ form_errors(form) }}



        <div class="form-group">
        	{{ form_label(form.title, null, { 'label_attr': {'class': 'control-label col-sm-1'}}) }}
        	{{ form_errors(form.title) }}
            <div class="col-sm-6">
        	   {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
        	{{ form_label(form.message, null, { 'label_attr': {'class': 'control-label col-sm-1'}}) }}
        	{{ form_errors(form.message) }}
            <div class="col-sm-6">
        	   {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

    
            <div class="col-sm-offset-1">
    	       {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
            </div>
     

    	{{ form_rest(form) }}

    {{ form_end(form) }}

</ul>
</div>
</section>
{% endblock %}
