{% extends '::base.html.twig' %}

{% block body -%}
    <h1>News creation</h1>

    {{ form_start(form) }}
    	{{ form_errors(form) }}

    	{{ form_label(form.title) }}
    	{{ form_errors(form.title) }}
    	{{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}

    	{{ form_label(form.message) }}
    	{{ form_errors(form.message) }}
    	{{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}

    	{{ form_widget(form.submit, {'attr': {'class': 'btn'}}) }}

    	{{ form_rest(form) }}

    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('news') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
